{{define "indexAdmin"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/filesave.css">
</head>
<body>
    <div class="resaveForm">
        <h1>百度网盘分享文件管理员转存</h1>
        <form class="form" action="/dofilesaveadmin" method="post" enctype="application/x-www-form-urlencoded">
            <label for="category" class="form-label">类别</label>
            <select id="category" name="category" id="">
                <option value="游戏">游戏</option>
                <option value="工具">工具</option>
                <option value="学习">学习</option>
                <option value="音乐">音乐</option>
                <option value="其他">其他</option>
            </select> <br>
            <label for="folder" class="form-label">存储位置</label>
            <input type="text" id="folder" name="folder"><br>
            <label for="link" class="form-label">链  接</label>
            <input type="text" id="link" name="link"><br>
            <label for="passwd" class="form-label">密  码</label>
            <input type="password" id="passwd" name="passwd"><br>
            <label for="submit" class="form-label"></label>
            <input type="submit" id="submit" value="提交">
        </form>
    </div>
</body>
</html>
{{end}}